.POPOSSpace {
  width: 100%;
  text-align: center;
}

.POPOSSpace .location {
  text-decoration: none;
  color: inherit;
}

.POPOSSpace .location:hover {
  color: rgb(192, 45, 26);
}

.POPOSSpace img {
  width: 100%;
  height: auto;
}

.POPOSSpace > .hours {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}
